/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/EnterpriseApplication1/EnterpriseApplication1-war/build/
/EnterpriseApplication1/build/
/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/
/EnterpriseApplication1/EnterpriseApplication1-war/dist/
/EnterpriseApplication1/dist/
/Test/nbproject/private/
/Test/Test-war/nbproject/private/
/Test/Test-ejb/nbproject/private/
/Test/Test-ejb/build/
/Test/Test-war/build/
/Test/build/
/Test/Test-ejb/dist/
/Test/Test-war/dist/
/Test/dist/