/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/EnterpriseApplication1/EnterpriseApplication1-war/build/
/EnterpriseApplication1/build/
/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/
/EnterpriseApplication1/EnterpriseApplication1-war/dist/
/EnterpriseApplication1/dist/
/Test/nbproject/private/
/Test/Test-war/nbproject/private/
/Test/Test-ejb/nbproject/private/
/Test/Test-ejb/build/
/Test/Test-war/build/
/Test/build/
/Test/Test-ejb/dist/
/Test/Test-war/dist/
/Test/dist/
/Calculator/nbproject/private/
/Calculator/Calculator-war/nbproject/private/
/Calculator/Calculator-ejb/nbproject/private/
/Calculator/Calculator-ejb/build/
/Calculator/Calculator-war/build/
/Calculator/build/
/Calculator/Calculator-ejb/dist/
/Calculator/Calculator-war/dist/
/Calculator/dist/
/Shout/nbproject/private/
/Shout/Shout-war/nbproject/private/
/Shout/Shout-ejb/nbproject/private/
/Shout/Shout-ejb/build/
/Shout/Shout-war/build/
/Shout/build/
/Shout/Shout-war/dist/
/Shout/Shout-ejb/dist/
/Shout/dist/
/Shout-GUI-client/nbproject/private/
/Shout-GUI-client/build/
/Shout-GUI-client/dist/
/CountTime/nbproject/private/
/CountTime/CountTime-war/nbproject/private/
/CountTime/CountTime-ejb/nbproject/private/
/CountTime-GUI/nbproject/private/
/CountTime-interface/nbproject/private/
/CountTime/CountTime-ejb/build/
/CountTime-interface/dist/
/CountTime-interface/build/
/CountTime/CountTime-ejb/dist/
/CountTime/build/
/CountTime/CountTime-war/dist/
/CountTime-GUI/build/
/CountTime-GUI/dist/